@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import 'carbon-components/scss/globals/scss/typography.scss';

.buttonsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.controlFields {
  width: 18.5rem;
}

.datePicker {
  padding: 1rem 0 1rem 0;
  &:global(.bx--date-picker.bx--date-picker--single .bx--date-picker__input){
    width: 18.5rem
  }
}

.overlayButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlayButtons button {
  max-width: unset;
}

.textArea {
  :global(.bx-label){
    width: 100%;
  }
}

.testresultinputfield{
    padding: 1rem 0 1rem 0;
}