.patientDetailsContainer {
    @media all and (min-width: 768px) {
        margin: auto;
        width: 50%
    }
}

.patientDetailsContainerWithSidePanel {
    width: 68%;
    padding: 0 1rem 0 1rem ;
}
.flexContainer{
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
}
.patientLabDetContainer{
  max-width: 100%;
}

.responsiveButton {
    @media all and (max-width: 768px) {
        padding-right: 2.5rem;
    }
}