.patientDetailsContainer {
    margin: auto;
    width: 50%
}

.patientDetailsContainerWithSidePanel {
    width: 68%;
    padding: 0 1rem 0 1rem ;
}
.flexContainer{
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
}
